@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: normal;
  box-sizing: border-box;
  font-family: '苹方';
}

html {
  font-size: 100px;
}

body {
  font-size: 15px;
  position: relative;
  overflow: hidden;
}

a {
  text-decoration: none;
}

@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px;
  }
}

@media screen and (min-width: 375px) {
  html {
    font-size: 50px;
  }
}

@media screen and (min-width: 412px) {
  html {
    font-size: 54.93333px;
  }
}

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px;
  }
}

@font-face {
  font-family: 'iconfont';
  /* project id："162051" */
  src: url("http://at.alicdn.com/t/font_fwe9m2d1xxbt9.eot");
  src: url("http://at.alicdn.com/t/font_fwe9m2d1xxbt9.eot") format("embedded-opentype"), url("http://at.alicdn.com/t/font_fwe9m2d1xxbt9.woff") format("woff"), url("http://at.alicdn.com/t/font_fwe9m2d1xxbt9.ttf") format("truetype"), url("http://at.alicdn.com/t/font_fwe9m2d1xxbt9.svg#iconfont") format("svg");
}

.header {
  width: 100%;
  height: 1rem;
  background: #344561;
  position: relative;
}

.header .menu {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0.4rem;
  font-family: 'iconfont';
  font-size: 30px;
  color: #ffffff;
  line-height: 45px;
}

.header .add {
  width: 40px;
  height: 40px;
  line-height: 45px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0.4rem;
  font-family: 'iconfont';
  font-size: 30px;
  color: #ffffff;
}

.ul {
  padding: 0.4rem;
}

.ul li {
  position: relative;
  width: 100%;
  height: 1.4rem;
  font-size: 0.5rem;
  margin-bottom: 0.2rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  background: transparent;
  background-size: cover;
}

.ul li .content {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0.2rem;
  line-height: 1.4rem;
  color: #FFFFFF;
  width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ul li .re {
  background: url(../img/21.png) no-repeat;
  background-size: contain;
  width: 35px;
  height: 35px;
  color: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  line-height: 1.4rem;
  right: 0.8rem;
  display: block;
}

.ul li .delete {
  background: url(../img/31.png) no-repeat;
  background-size: contain;
  width: 25px;
  height: 25px;
  color: red;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  line-height: 1.4rem;
  right: 0.1rem;
  display: none;
}

li.done .content {
  color: #6f5e5e;
  text-decoration: line-through;
}

li.done .re {
  display: none;
}

li.done .delete {
  display: block;
}

.footer {
  width: 100%;
  height: auto;
}

.footer div {
  width: 100%;
  float: left;
  line-height: 0.6rem;
  font-weight: 400;
  font-size: 20px;
  padding: 0.2rem 0;
  padding-left: 0.6rem;
}

.footer .all {
  border-left: 0;
}

.tan {
  transform: scale(0);
  transition: all .5s linear;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.tan .chuang {
  width: 7rem;
  height: 4rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: #FAFAFA;
}

.tan .chuang h1 {
  padding-left: 0.4rem;
  color: #fff;
  font-size: 25px;
  line-height: 1rem;
  height: 1rem;
  background: #344561;
}

.tan .chuang input {
  display: block;
  height: 1rem;
  width: 5rem;
  margin: auto;
  outline: none;
  color: #fb7191;
  font-size: 18px;
  background: none;
  border: 0;
  border-bottom: 1px solid #000;
}

.tan .chuang .tijiao {
  width: 6rem;
  height: 0.8rem;
  display: block;
  color: #344561;
  font-size: 0.4rem;
  margin: 0 auto;
  text-align: center;
  margin-top: 0.5rem;
  line-height: 0.8rem;
}

.active {
  transform: scale(1);
}

.side {
  position: fixed;
  width: 100%;
  transition: all 0.5s;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
}

.side .side-nav {
  width: 6rem;
  height: 100%;
  background: #FFFFFF;
}

.side .side-nav .touxiang {
  width: 100%;
  height: 4rem;
  background: url(../img/6.jpg);
  padding-top: 0.6rem;
  padding-left: 0.6rem;
}

.side .side-nav .touxiang .circle {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  background: url(../img/13.jpg);
  background-size: cover;
}

.side .side-nav .touxiang h2 {
  height: 0.8rem;
  margin-top: 0.4rem;
  padding-left: 0.4rem;
  color: #FFFFFF;
}

.side .side-nav h1 {
  height: 1rem;
  font-size: 0.6rem;
  font-weight: 500;
  color: #000000;
  line-height: 1rem;
  padding-left: 0.6rem;
  margin: .2rem 0;
}

.side .side-nav h3 {
  height: 1rem;
  font-size: 0.5rem;
  font-weight: 500;
  color: #000000;
  line-height: 1rem;
  padding-left: 0.6rem;
  margin: .2rem 0;
}

.side button {
  width: 1rem;
  height: 1rem;
  position: absolute;
  border-radius: 50%;
  right: 1.5rem;
  bottom: 0rem;
  background: url(../img/24.png) no-repeat;
  background-size: contain;
}

.active2 {
  transform: scaleX(1);
}
