*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: normal;
}
$d-list:320px,375px,412px,414px;
html{
    font-size: 100px;
}
body{
    font-size: 15px;
}
$design-size:750px;
@each $i in $d-list{
    @media screen and (min-width:#{$i}){
        html{
            font-size:100px * $i/$design-size;
        }
    }
}
@mixin top-bottom{
    position: absolute;
    top:0;
    bottom:0;
    margin: auto;
}
.header{
    height: 1rem;
    width: 100%;
    background: red;
    position: relative;
    input{
        display: block;
        height: 0.7rem;
        left:0.3rem;
        width: 4rem;
        @include top-bottom;
        outline: none;
    }
    .add{
        width: 0.7rem;
        height: 0.7rem;
        border-radius: 50%;
        @include top-bottom;
        color:cyan;
        font-size: 20px;
        text-align: center;
        right:0.3rem;
        line-height: 0.7rem;
        background: #FFFFFF;
    }
}
.ul{
    li{
        height: 1.3rem;
        width: 7rem;
        margin: 0 auto;
        box-shadow: 0 0 3px rgba(0,0,0,0.5);
        margin-top: 5px;
        position: relative;
    }
    .content{
        position: absolute;
        height: 1rem;
        left:0.3rem;
        line-height: 1rem;
        @include top-bottom;
        font-size: 20px;
    }
    .delete{
        width: 0.7rem;
        height: 0.7rem;
        border-radius: 50%;
        @include top-bottom;
        color:#000000;
        font-size: 25px;
        text-align: center;
        right:0.3rem;
        background: red;
        line-height: 0.7rem;
        display: none;
    }
}
li.done {
   .content{
    color:yellow;
    text-decoration: line-through;
    }
   .delete{
       display: block;
   }
}
